
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Cairo');



:root {
    --bodyBg: #ffffff;
    --formularioBg: #FEFEFF;
    --formularioName: hsla(220, 1%, 59%, 0.747);
    --inputBg: #FCFCFC;
    --inputBorder: hsl(263, 82%, 35%);
    --placehoderColor: #E4E4E4;
    --border-radius: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--bodyBg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}


.form {
    background-color: var(--formularioBg);
    width: 570px;
    box-shadow: 0 0 50px 1px #0000003a;
    border-radius: 20px;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
}

.label {
    display: block;
    margin: 30px 0
}

.label__name {
    display: block;
    color: var(--formularioName);
    font-size: 17px;
    margin: 10px 0;
}

.label__input,
.form__btn {
    display: block;
    width: 100%;
    padding: 15px 5px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
}

.label__input {
    border: 1px solid var(--inputBorder);
    border-radius: 10px;
    background-color: var(--inputBg);
}

.label__input::placeholder {
    color: var(--placehoderColor);
}

.form__btn {
    background-color: var(--formularioBtn);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}


@media (max-width:768px) {
    .form {
        width: 90%;
        padding: 20px;
    }

    .label {
        margin: 15px 0;
    }

    .label__name {
        font-size: 14px;
    }

    .label__input {
        padding: 10px 5px;
    }
}
.cabeza{
    font-family: 'cairo';
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 2;
}
h1{
    background-image: url(https://media.giphy.com/media/t2aAdTgnU9Ie6jvG0W/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 60px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }

    div.presen{
        position: absolute;
        width: 550px; /*ancho del div(es una capa)*/
        height: 60px; /*alto del div(es una capa)*/
        color: red; /*color de letra dentro de div*/
        background-color: black; /*color de fondo del DIV*/
        /*centro vertical*/
        display: flex; 
        justify-content: center; /*alineacion*/
        flex-direction: column; /* la forma depresentar sera eb columna*/
        box-shadow: 10px 10px   7px rgba(10, 10, 224, 0.30);
        border-radius: 15px;
        font-size: 30px;
        }